.controls, .stopwatch {
}


#app{
	padding: 100px 0;
}

.controls #start, .controls #stop {

	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	background-color: lightblue;
	color: #000000;
	
}

.stopwatch {
	/*margin: 30px 700px 0 700px;*/
	font-size: 50px;
	font-weight: bold;
	background-color: lightblue;
}